html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Assest Management 
    link(rel="stylesheet", href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.min.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css", integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous")

  body 
    nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
      .container
        a(class="navbar-brand", href="#") Asset Management
        button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
          span(class="navbar-toggler-icon")
        #navbarNav.navbar-collapse.collapse
          ul(class="navbar-nav")
            //- li(class="nav-item active")
            //-   a(class="nav-link", href="#") Home
            li(class="nav-item dropdown")
              a(class="nav-link dropdown-toggle", href="#", id="navbarDropdown", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Employee
              .dropdown-menu(aria-labelledby="navbarDropdown")
                a(class="dropdown-item", href="add-employee") Add Employee
                //- a(class="dropdown-item", href="view-employee") View Employee 
                a(class="dropdown-item", href="list-employee") Employee List
                //- a(class="dropdown-item", href="#") Submenu 3
            li(class="nav-item dropdown")
              a(class="nav-link dropdown-toggle", href="#", id="navbarDropdown2", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Asset
              .dropdown-menu(aria-labelledby="navbarDropdown2")
                a(class="dropdown-item", href="add-asset") Add Asset
                a(class="dropdown-item", href="list-asset") Asset List
                a(class="dropdown-item", href="asset-entry") Issue and Return Entry
                a(class="dropdown-item", href="asset-history") Asset History

     script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js")
    script(src="https://cdn.datatables.net/2.0.3/js/dataTables.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
